body {
    background-color: rgba(169, 169, 169, 0.24) !important;
}

.navbar {
    z-index: 1;
    
}

.navbar {
    background-color: rgba(3, 19, 90, 0.774);
}

.top-nav-collapse {
    background-color: #4285F4;
}

html,
body,
header,
.view {
    height: 100%;
}

.navrouge{
	
}

.container{
    border-radius: 10%;
}

.ligne {
    text-align: center;
}
.lien{
    margin: 6%;
    color : white;
    border-style: 5px;
}
#choix{
    background-color: rgba(201, 201, 201, 0.432);
}

#carre{
    margin-top: 10%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 10%;

}

.form-control{
    width: 200px !important;
}

.activeCSS{
	 background-color: rgb(255, 174, 0); border-radius: 10px;
}
